.about-container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

.about-image-container {
    flex: 1;
}

.about-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.about-content-container {
    flex: 2;
    margin-left: 40px;
}

.about-content-container h1 {
    margin-bottom: 20px;
}

.about-content-container p {
    margin-bottom: 10px;
}